@model Product

@* <style>
    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .product-container {
        width: calc(25% - 10px); /* 4 товара в ряду */
        height: 450px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Равномерное распределение пространства между элементами */
        /* align-self: flex-end; */
    }

    .product-image {
        width: 250px;
        height: 250px;
    }

    .bbtn {
        margin-top: auto; /* кнопки будут прикреплены к нижнему краю контейнера */
    }
</style> *@
@* <style>
    .product-container {
        width: 300px; /* Ширина блока товара */
        height: 400px; /* Высота блока товара (высота изображения + название + описание + цена + кнопка) */
        text-align: center; /* Центрирование содержимого по горизонтали */
        display: inline-block; /* Размещение товаров в одной строке */
        margin: 0 15px 15px 0; /* Внешние отступы между товарами */
    }

    .product-image {
        width: 200px; /* Ширина изображения */
        height: 200px; /* Высота изображения */
    }
</style> *@

<div class="product-wrapper">
    <div class="product-container">
        <div class="content-wrapper">
            <img class="img-thumbnail product-image" src="@Model.img" alt="@Model.Name" />
            <h4>@Model.Name</h4>
            <p>@Model.ShortDesc</p>
            <p class="bbtn">Цена: @Model.price.ToString("c")</p>
            <p class="bbtn"><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-ID="@Model.ID">Добавить в корзину</a></p>
        </div>
    </div>
</div>
@* <div class="product-container">
    <img class="img-thumbnail product-image" src="@Model.img" alt="@Model.Name" />
    <h2>@Model.Name</h2>
    <p>@Model.ShortDesc </p>
    <p>Цена: @Model.price.ToString("c")</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-ID="@Model.ID">Добавить в корзину</a></p>
</div> *@
