@model Product

<div class="fixed-container">
    <a href="@Url.Action("Index", "ShopCart")" class="icon-link1"><img src="~/img/cart-Photoroom.png" alt="Cart" /></a>
</div>

<div class="product-wrapper">
    <div class="product-container">
        <div class="content-wrapper">
            <img class="img-thumbnail product-image" src="@Model.img" alt="@Model.Name" />
            <h4>@Model.Name</h4>
            <p>@Model.ShortDesc</p>
            <p class="bbtn">Цена: @Model.price.ToString("c")</p>
            <p class="bbtn"><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-ID="@Model.ID">Добавить в корзину</a></p>
        </div>
    </div>
</div>
