@model HomeVM

<div class="fixed-container">
    <a href="@Url.Action("Index", "ShopCart")" class="icon-link1"><img src="~/img/cart-Photoroom.png" alt="Cart" /></a>
</div>

<h2>Лучшее!</h2>

<div class="product-wrapper">
    @foreach (Product product in Model.favProduct)
    {
        <div class="product-container">
            <div class="content-wrapper">
                <img class="img-thumbnail product-image" src="@product.img" alt="@product.Name" />
                <h4>@product.Name</h4>
                <p>@product.ShortDesc</p>
                <p class="bbtn">Цена: @product.price.ToString("c")</p>
                <p class="bbtn"><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-ID="@product.ID">Добавить в корзину</a></p>
            </div>
        </div>
    }
</div>